<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite"> <!-- parallel="tests" -->

<listeners>
		<listener class-name="com.swaglabsdemo.util.ExtentReporterNG" />
	</listeners>

<test name="ChromeTest">

<!--<parameter name="browserName" value="chrome" />-->

<classes>

<class name="com.swaglabsdemo.testscripts.VerifyNegativeLoginTest">

</class>

</classes>

</test>

<!--<test name="edgeTest">

<parameter name="browserName" value="edge" />

<classes>

<class name="com.swaglabsdemo.testscripts.VerifyNegativeLoginTest">

</class>

</classes>

</test>-->



</suite>